@import '@angular/material/prebuilt-themes/purple-green.css';
@import 'material-icons/iconfont/material-icons.css';
body {
  background: #091929;
  color: white;
  margin: 0;
  height: 100vh;
  width: 100%;

}

